/**
 * Color Utility Classes
 * Utility classes for applying theme colors
 */

@use 'variables' as *;

/* Text Colors */
.text-yellow {
    color: $main-yellow;
}

.text-pink {
    color: $main-pink;
}

.text-marine {
    color: $main-marine;
}

.text-highlight {
    color: $primary-highlight;
}

/* Background Colors */
.bg-yellow {
    background-color: $main-yellow;
}

.bg-pink {
    background-color: $main-pink;
}

.bg-marine {
    background-color: $main-marine;
}

.bg-highlight {
    background-color: $primary-highlight;
}
