// Font Face Declarations
// Latin Modern Mono - A clean, modern monospace font

// Regular
@font-face {
  font-family: 'Latin Modern Mono';
  src: url('../assets/fonts/lmmono10-regular-webfont.woff') format('woff'),
       url('../assets/fonts/lmmono10-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Italic
@font-face {
  font-family: 'Latin Modern Mono';
  src: url('../assets/fonts/lmmono10-italic-webfont.woff') format('woff'),
       url('../assets/fonts/lmmono10-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Bold
@font-face {
  font-family: 'Latin Modern Mono';
  src: url('../assets/fonts/lmmonolt10-bold-webfont.woff') format('woff'),
       url('../assets/fonts/lmmonolt10-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

