@use 'variables' as *;
@use 'mixins' as *;

/* Inventory */



.inventory-wrapper {
  position: absolute;
  top: $spacing-md;
  bottom: $spacing-md;
  right: $spacing-md;
  border-radius: $border-radius-md;
  width: 218px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  pointer-events: none;
 @include vertical-gradient($main-blue, $dark-marine);
     @include shadow-custom(2px, 4px, 8px, 0px, rgba(0, 0, 0, 0.3));
}



.scene-inventory-overlay {
  // position: absolute;
  // bottom: 80px;
  // left: 0;
  // right: 0;
  // height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  pointer-events: none;
}

.inventory-item {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  text-align: center;
  pointer-events: all;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inventory-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}




