/**
 * Inventory Component Styles
 * BEM naming convention for inventory elements
 * Note: Detailed inventory-item styles are in _items.scss
 */

@use 'variables' as *;
@use 'mixins' as *;

/* Inventory Panel Wrapper */
.panel-wrapper {
    position: absolute;
    top: $spacing-md;
    bottom: $spacing-md;
    right: $spacing-md;
    width: $inventory-width;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: flex-start;
    gap: $spacing-xs;
    padding: 0px;
    pointer-events: none;
    z-index: 50;
    @include vertical-gradient($main-blue, $dark-marine, 0.2);
    @include shadow-custom(2px, 4px, 8px, 0px, rgba($black, 0.3));
}

/* Scene Inventory Overlay (bottom of screen) */


.scene-inventory-overlay {
    display: flex;
    padding-top: $spacing-sm;
    gap: $spacing-xs;
    flex-wrap: wrap;
       pointer-events: none;
    justify-content: center;
}

/* Inventory Slots */
.inventory-slot {
    position: relative;
    width: 80px;
    height: 80px;
    // border: 2px dashed rgba($main-yellow, 0.3);
    border-radius: 4px;
    background: rgba($dark-blue, 0.3);
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
    pointer-events: none;

    /* Empty slot indicator */
    &:empty::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        border: 2px solid rgba($main-yellow, 0.1);
        border-radius: 50%;
    }

    /* When slot has an item */
    &:not(:empty) {
        // border-style: solid;
        // border-color: $main-yellow;
        // background: rgba(26, 10, 0, 0.9);
        background: rgba($main-yellow, 0.3); // 30% opacity - adjust as needed
        pointer-events: all;
        

        &::before {
            display: none;
        }
    }
}




