
@use 'variables' as *;

/* Responsive Design */
@media (max-width: 768px) {
//   .scene-title {
//     font-size: 2rem;
//   }

//   .scene-text {
//     font-size: 1rem;
//     padding: 0 1rem;
//   }

//   .ui-panel {
//     flex-direction: column;
//     gap: 1rem;
//     padding: 1rem 0.5rem;
//   }

//   .btn {
//     padding: 0.5rem 1rem;
//     font-size: 0.9rem;
//   }

//   .btn-start {
//     font-size: 1rem;
//     padding: 0.8rem 1.5rem;
//   }
}

@media (max-width: 480px) {
//   .scene-title {
//     font-size: 1.5rem;
//   }

//   .btn {
//     padding: 0.5rem 0.75rem;
//     font-size: 0.85rem;
//   }
}

