@use 'variables' as *;

html {
  font-size: $font-base-size;
  scroll-behavior: smooth;
}

body {

  // line-height: 1.6;
  // color: #333;
}

/* Body */
.body-xs {
  font-size: $font-size-xs;
}
.body-sm{
  font-size: $font-size-sm;
}
.body-md{
  font-size: $font-size-md;
}
.body-lg{
  font-size: $font-size-lg;
}
.body-xl{
  font-size: $font-size-xl;
}








.scene-title {
  z-index: 15;
}

.scene-text {
  // font-size: 1.2rem;
  // z-index: 15;
}

/* Messages */
.panel-text {
  font-size: 1rem;
}

.score-box {
  // font-weight: 600;
  // font-size: 1.2rem;
}

.stage-title {
  top: 1rem;
  left: 1rem;
}