@use 'variables' as *;

html {
  font-size: $font-base-size;
  scroll-behavior: smooth;
}

.stage-title{
  line-height: 14px;
  margin-top: 5px;
}
.scene-title{
  letter-spacing: 1px;
}
/* Utilities */
.text-uppercase{
  text-transform: uppercase;
}
.text-center{
      text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

/* Body */
.body-xs {
  font-size: $font-size-xs;
}
.body-sm{
  font-size: $font-size-sm;
}
.body-md{
  font-size: $font-size-md;
}
.body-lg{
  font-size: $font-size-lg;
}
.body-xl{
  font-size: $font-size-xl;
}

/* marine */
.text-light-marine {
  color: $light-marine;
}
.text-main-marine {
  color: $main-marine;
}
.text-dark-marine {
  color: $dark-marine;
}
.text-darker-marine {
  color: $darker-marine;
}
/* yellow */
.text-main-yellow {
  color: $main-yellow;
}
.text-light-yellow {
  color: $light-yellow;
}
.text-dark-yellow {
  color: $dark-yellow;
}
