@use 'variables' as *;

html {
  font-size: $font-base-size;
  scroll-behavior: smooth;
}

body {

  // line-height: 1.6;
  // color: #333;
}

.text-uppercase{
  text-transform: uppercase;
}

/* Body */
.body-xs {
  font-size: $font-size-xs;
}
.body-sm{
  font-size: $font-size-sm;
}
.body-md{
  font-size: $font-size-md;
}
.body-lg{
  font-size: $font-size-lg;
}
.body-xl{
  font-size: $font-size-xl;
}

/* marine */
.text-light-marine {
  color: $light-marine;
}
.text-main-marine {
  color: $main-marine;
}
.text-dark-marine {
  color: $dark-marine;
}
.text-darker-marine {
  color: $darker-marine;
}
/* yellow */
.text-main-yellow {
  color: $main-yellow;
}
.text-light-yellow {
  color: $light-yellow;
}
.text-dark-yellow {
  color: $dark-yellow;
}









// .pips-container {
//   position: absolute;
//   top: 1rem;
//   right: 1rem;
//   display: flex;
//   gap: 0.5rem;
//   z-index: 10;
// }

// .scene-pip {
//   width: 12px;
//   height: 12px;
//   border-radius: 50%;
//   background: rgba($main-yellow, 0.3);
//   border: 2px solid $main-yellow;
//   opacity: 0.3;
//   transition: opacity 0.3s ease;
// }