
@use 'variables' as *;
@use 'mixins' as *;


.logo-bar{
    width: 22px;
}

.menu-container{

}

/* Menu Toggle Button */
.menu-toggle {
    // position: absolute;
    // top: $spacing-xs;
    // left: $spacing-xs;
    border: 2px solid $main-marine;
    width: 50px;
    height: 50px;
    // background: rgba($white, 0.1);
    // backdrop-filter: blur(10px);
    border-radius: 50%;
    cursor: pointer;
    z-index: $z-index-modal;
    transition: all $transition-base;

    &:hover {
        background: rgba($white, 0.2);
        transform: scale(1.1);
    }
}

/* Menu */
.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba($darkest-marine, 01);
    // backdrop-filter: blur(15px);
    border-radius: $border-radius-md;
    padding: $spacing-md;
    min-width: 200px;
    z-index: $z-index-overlay;
    display: none;
    @include shadow-custom(2px, 2px, 8px, 2px, rgba($darkest-marine, 0.5));

    &.active {
        display: block;
    }
}

/* Menu Item */
// .menu-item {
//     display: block;
//     width: 100%;
//     padding: $spacing-sm $spacing-md;
//     border: none;
//     background: transparent;
//     color: $white;
//     text-align: left;
//     cursor: pointer;
//     border-radius: $border-radius-sm;
//     margin-bottom: $spacing-sm;
//     transition: background $transition-base;

//     &:hover {
//         background: rgba($white, 0.1);
//     }

//     &:last-child {
//         margin-bottom: 0;
//     }
// }





.nav-directions{
  position: absolute;
  bottom: $spacing-md;
  right: $spacing-md + $spacing-md + $inventory-width;
  display: flex;
  justify-content: space-between;
  width: 200px;
  z-index: 60;
}