// Typography Variables
// Font Families
$font-base-size: 16px;
$font-family-mono: 'Latin Modern Mono', 'Courier New', Courier, monospace;
$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;


// Game size
$game-width: 1280px;
$game-height: 720px;
$inventory-width: 100px;


// Color Variables (SASS - for compilation)
// Main Colors
$light-yellow: #F6FDDB;
$main-yellow: #F4FED3;
$dark-yellow: #CFD7C1;

$lighter-pink: #EABAC0;
$light-pink: #C54592;
$main-pink: #BB067E;
$dark-pink: #970365;

// $light-blue: #002857;
// $main-blue: #041E3D;
// $dark-blue: #001125;

// $lighter-marine: #CFD7C1;
$light-marine: #417B7B;
$main-marine: #19545C;
$dark-marine: #063340;
$darker-marine: #101F2C; //y
$darkest-marine: #021018;






$primary-highlight: #FFC800;

// Additional utility colors (you can add more as needed)
$white: #FFFFFF;
$black: #000000;

// Spacing Variables
$spacing-xxs: 4px;   // 4px
$spacing-xs: 6px;   // 4px
$spacing-sm: 8px;    // 8px
$spacing-md: 16px;      // 16px
$spacing-lg: 24px;    // 24px
$spacing-xl: 32px;      // 32px
$spacing-xxl: 48px;     // 48px

// Font Size Variables
$font-size-xs: 12px;   // 12px
$font-size-sm: 14px;  // 14px
$font-size-md: 16px;      // 16px
$font-size-lg: 20px;   // 20px
$font-size-xl: 24px;    // 24px
$font-size-2xl: 32px;     // 32px
$font-size-3xl: 40px;   // 40px
$font-size-4xl: 48px;     // 48px

// Border Radius Variables
$border-radius-sm: 4px;  // 4px
$border-radius-md: 8px;   // 8px
$border-radius-lg: 16px;     // 16px
$border-radius-xl: 24px;   // 24px
$border-radius-full: 9999px;

// Transition Variables
$transition-fast: 0.15s ease;
$transition-base: 0.3s ease;
$transition-slow: 0.5s ease;

// Z-Index Variables
$z-index-base: 1;
$z-index-dropdown: 100;
$z-index-overlay: 500;
$z-index-modal: 1000;
$z-index-tooltip: 1500;
